:root{
  font-size: 16px;
  
}
html {
  overflow-x: hidden;
}

*{
    box-sizing: border-box;
  }
body {
    font-weight: 400;
    color: black;
    background-color: #EEEFF4;
    margin: 0;
    padding: 0;
}
.App, .vertical-center {
    width: 100%;
    height: 100%;
}

.btn-outline-primary {
  border-color: #1833FF;
  color: #1833FF;
}

.btn-outline-primary:hover {
  background-color: #1833FF;
  color: #ffffff;
}

.btn-small {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  width: 20vw;
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}

.inner-block {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  transition: all .3s;
  border-radius: 20px;
}

.vertical-center .form-control:focus {
  border-color: #2554FF;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
  
label {
  font-weight: 500;
}

main {
  margin-left: 8rem;
  padding: 1rem;
}

body::-webkit-scrollbar{
  width: .25rem;
}
body::-webkit-scrollbar-track{
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background: #2554FF;
}

.navbar {
  background: #008cff !important;
  width: 8rem;
  height: 100vh;
  position: fixed;
  background-color: #2554FF;
  transition: width 200ms ease;
  /* overflow: scroll; */
  
}

.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
}

.nav-item{
  width: 100%;
}

.nav-item:last-child{
  margin-top: auto;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: #ffffff;
}
.link-text{
  display: none;
  margin-left: 1rem;
}
.nav-link svg{
  min-width: 2rem;
  width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover{
  width: 16rem;
}

.navbar:hover .link-text{
  display:block;
}

.topnav {
  
  margin: auto;
  width: 100%;
  overflow: hidden;
  background-color: #e9e9e9;
  flex-shrink: 0;
  display: flex;
  background-color: #008cff;
  position: fixed;
}

.topnav a {

  align-items: center;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Style the "active" element to highlight the current page */
/* .topnav a.active {
  background-color: #2196F3;
  color: white;
} */

.topnav input[type=text] {
  margin: auto;
  width: 50%;
  
  border-radius: 25px;
  border: 2px solid black;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button{
  /* border-radius: 25px;
  border: 1px solid black;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  font-size: 17px; */

}
.homepage{
  padding-top: 4rem;
}
.homepage h1 {
  text-align: center;
  font-weight: bold
}

/* Post Styling */

.post {
  margin: 1rem auto;
  width: clamp(20rem, 60%, 60%);
  background-color: white;
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .post {
    width: 90%
  }
}

.post h2 {
  color: #008cff;
  font-weight: 550;
}

.post-footer {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-icon-holder {
  display: flex;
}

.post-icon {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.post-icon:hover {
  color: #83c7ff;
}

.post-icon a {
  color: inherit;
}

.post-icon a:hover {
  color: inherit;
}

.post-icon-like.is-liked {
  color: #008cff;
}

.post-icon-like.is-liked:hover {
  color: #83c7ff;
}

.post-icon p {
  color: black;
  margin: 0 0 0 0.2rem;
}

.post-date {
  margin-left: auto;
  margin-right: 0;
}